body {
	font-family: georgia, "bitstream vera serif", "times new roman", serif;
  line-height: 150%;
  color : #666;
	background-color : #fff;
	margin : 0;
	padding : 1em 4em;
}
h1, h2, h3, h4 {
  line-height: 150%;
  margin: 1.2em 0em 0.6em 0em;
}
h1 {
  font-size: 2.8em;
  font-weight: normal;
  color : #0c0;
}
h2 {
  font-size: 1.7em;
  font-weight: normal;
}
h3 {
	font-size: 1.4em;
	font-weight: normal;
}
code, pre {
  font-family: "courier new", courier, monospace;
  font-size: .8em;
}
pre {
  line-height: 125%;
}
a {
	color : #2aaaff;
	text-decoration : none;
	border-bottom : 1px solid #ccc;
}
a:hover {
	color : red;
	border-bottom : 1px solid red;
}
p.continuos {
	margin-top : 0;
}
span.note {
	cursor: help;
	color: #444;
	border-bottom: 1px dashed #9c0;
}
div.note {
  padding: 1em;
  font-style: italic;
}
.todo {
	color : red;
}
.nostyle {
	font-family: serif;
	color : #000;
	background-color : #fff;
	border-top : 2px solid #666;
	border-bottom : 2px solid #666;
}
.nostyle h1 {
  line-height: 100%;
  margin: .5em 0;
  font-weight: bold;
  font-size: 2.0em;
	font-family: serif;
	color : #000;
}
code {
	font-weight: bold;
}
pre {
  background-color : #eee;
  border-color : #FFD42A;
  border-style: solid;
  border-width: 0px;
  padding: 1em;
  color: #666666;
}

pre .kw1,
pre .kw2,
pre .kw3 {
  /* keyword */
  color: #06c;
}
pre .br0 {
  /* bracket */
  color: #000;
}
pre .re0 {
  /* var */
  color: #000;
}
pre .me1 {
  /* method */
}
pre .st0 {
  /* string */
  color: #333;
  background-color: #fff;
}
pre .co1 {
  /* comment */
  color: green;
}
.illustration {
  text-align: center;
}